.experience{
  padding-top: 100px;
  padding-bottom: 100px;
}

.experience__main__text{
  max-width: 660px;
  margin: 0 auto;
}


.experience__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 260px));
  padding-top: 76px;

  margin-left: 105px;
  column-gap: 65px;
}

.experience__item{
  max-width: 260px;

}

.experience__item:last-child{
  padding-right: 0;
}

.experience__img{
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 24px;
}

.experience__subtitle{
  font-family: var(--title-font);
  @include fonts(normal, 700, 22px, 1);
  color:  #363940;
  padding-left: 24px;
}

.experience__text{
  font-family: var(--subtitle-font);
  @include fonts(normal, 400, 14px, 1.71);
  color: var(--secondary-txt-cl);
  max-width: 160px;
  padding: 18px 75px 24px 24px;
}

.experience__title.element-show{
  opacity: 1;
  transition: opacity 1s;
}

@media only screen and (max-width: 834px){
  .experience{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .experience__list{
    margin-left: 80px;
  }

  .experience__list{
    padding-top: 32px;
    column-gap: 80px;
  }

}

@media only screen and (max-width: 375px){
  .experience__list{
    padding-top: 16px;
    column-gap: 20px;
  }
}
