.header{
  padding-top: 40px;
  position: relative;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list{
  display: flex;
}

.nav__item:not(:last-child){
  padding-right: 40px;
}

.nav__link{
  font-family: var(--btn-font);
  @include fonts(normal, 600, 12px, 1.66);
}

.nav__link:hover,
.nav__link:focus{
  opacity: .6;
}

.header__wrapper{
  display: flex;
  align-items: center;
}

.header__search{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header_btn{
  font-family: var(--medium-font);
  @include fonts(normal, 500, 12px, 1.66);
  padding: 8px 20px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-txt-cl);
  margin-left: 33px;
}