.hero{
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__container{
  display: flex;
  position: relative;
}

.hero__left{
  position: absolute;
  padding-top: 108px;
  margin-left: auto;
  left: 105px
}

.hero__title{
  font-family: var(--hero-font);
  @include fonts(normal, 900, 63px, 1.07);
  color: var(--main-txt-cl);
  max-width: 454px;

  padding-bottom: 23px;
}

.hero__main__text{
  font-family: var(--subtitle-font);
  @include fonts(normal, 400, 16px, 1.37);
  color: var(--subtitle--txt-cl);
  max-width: 380px;

  padding-bottom: 38px;
}

.btn__wrapper{
  display: flex;

  margin-bottom: 165px;
}

.hero__btn{
  font-family: var(--btn-font);
  @include fonts(normal, 600, 12px, 1.66);
  letter-spacing: 2px;

  padding: 13px 22px;
  border-radius: 4px;

  cursor: pointer;
  transition: var(--transition-fast);
}

.hero__btn-apply{
  max-width: 158px;
  color: var(--form-bg-color);

  background-color: var(--btn-txt-cl);
  border: 1px solid var(--btn-txt-cl);

  margin-right: 20px;
}

.hero__btn-apply:hover,
.hero__btn-apply:focus{
  color: var(--btn-txt-cl);

  background-color: var(--form-bg-color);
  box-shadow:  0 -0.3em 3em rgba(0,0,0,0.1),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.hero__btn-loan{
  max-width: 177px;
  color: var(--btn-txt-cl);

  background-color: var(--form-bg-color);
  border: 1px solid var(--btn-txt-cl);
}

.hero__btn-loan:hover,
.hero__btn-loan:focus{
  color: var(--form-bg-color);

  background-color: var(--btn-txt-cl);

  box-shadow:  0 -0.3em 3em rgba(0,0,0,0.1),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.hero__right{
  margin-left: auto;
}

.image__list{
  position: relative;
}

.hero__item-car{
  position: absolute;
  top: 30px;
  left: 680px;
}

.hero__item-house{
  position: absolute;
  right: 77px;
  bottom: 440px;
}


.hero__link{
  display: flex;
  background-color: var(--form-bg-color);
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
  border-radius: 55px;

  padding: 25px 27px;

}

.hero__img{
  padding-right: 20px;
}

.hero__text{
  font-family: var(--title-font);
  @include fonts(normal, 700, 18px, 1.22);
  color: var(--title-txt-cl);
}

.slick-dots li button:before {
  font-size: 8px;
  color: var(--form-txt-cl);
}

.slick-dots li.slick-active button:before{
  font-size: 13px;
  color: #F467B2;

  box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
}

.slick-track{
  margin-bottom: 65px;
}