.hero{
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__container{
  display: flex;
  position: relative;
}

.hero__left{
  position: absolute;
  padding-top: 108px;
  margin-left: auto;
  left: 105px
}

.hero__title{
  font-family: var(--hero-font);
  @include fonts(normal, 900, 63px, 1.07);
  color: var(--main-txt-cl);
  max-width: 454px;

  padding-bottom: 23px;
}

.hero__main__text{
  font-family: var(--subtitle-font);
  @include fonts(normal, 400, 16px, 1.37);
  color: var(--subtitle--txt-cl);
  max-width: 380px;

  padding-bottom: 38px;
}

.btn__wrapper{
  display: flex;

  margin-bottom: 165px;
}

.hero__btn{
  font-family: var(--btn-font);
  @include fonts(normal, 600, 12px, 1.66);
  letter-spacing: 2px;

  padding: 13px 22px;
  border-radius: 4px;

  cursor: pointer;
  transition: var(--transition-fast);
}

.hero__btn-apply{
  max-width: 158px;
  color: var(--form-bg-color);

  background-color: var(--btn-txt-cl);
  border: 1px solid var(--btn-txt-cl);

  margin-right: 20px;
}

.hero__btn-apply:hover,
.hero__btn-apply:focus{
  color: var(--btn-txt-cl);

  background-color: var(--form-bg-color);
  box-shadow:  0 -0.3em 3em rgba(0,0,0,0.1),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.hero__btn-loan{
  max-width: 177px;
  color: var(--btn-txt-cl);

  background-color: var(--form-bg-color);
  border: 1px solid var(--btn-txt-cl);
}

.hero__btn-loan:hover,
.hero__btn-loan:focus{
  color: var(--form-bg-color);

  background-color: var(--btn-txt-cl);

  box-shadow:  0 -0.3em 3em rgba(0,0,0,0.1),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.hero__right{
  margin-left: auto;
  max-width: 62%;
}

.image__list__wrapper{
  position: relative;
}

.image__list{
  position: relative;
}

.hero__item-car{
  position: absolute;
  top: 30px;
  left: 680px;
}

.hero__item-car:hover{
  opacity: .9;
  transform: translate(0px, 2px);
  transition: var(--transition-fast);
}

.hero__item-house{
  position: absolute;
  right: 77px;
  bottom: 440px;
}

.hero__item-house:hover{
  opacity: .9;
  transform: translate(0px, 2px);
  transition: var(--transition-fast);
}


.hero__link{
  display: flex;
  align-items: center;
  background-color: var(--form-bg-color);
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
  border-radius: 55px;
  max-width: 145px;
  padding: 25px 27px;

}

.hero__img{
  padding-right: 20px;
}

.hero__text{
  font-family: var(--title-font);
  @include fonts(normal, 700, 18px, 1.22);
  color: var(--title-txt-cl);
}

@media only screen and (max-width: 834px){
  .hero{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__container{
    flex-direction: column-reverse;
  }
  .hero__left{
    position: static;
    margin: 0 auto;
    padding-top: 25px;
  }

  .hero__main__text {
    margin-left: 32px;
    padding-bottom: 24px;
  }

  .btn__wrapper{
    margin-left: 32px;
    margin-bottom: 64px;
  }

  .hero__right{
    max-width: 100%;
  }

  .hero__item-car{
    left: 92px;
  }

  .hero__item-house{
    top: 140px;
    left: 565px;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 375px){
  .hero{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .hero__title{
    @include fonts(normal, 900, 32px, 1.25);
    padding-bottom: 8px;

    max-width: 355px;
    margin: 0 auto;
  }

  .hero__main__text{
    padding-bottom: 16px;
    margin: 0 auto;
    max-width: 355px;
  }

  .btn__wrapper{
    margin: 0 auto;
    padding-bottom: 32px;
  }

  .slider__image{
    margin-top: 40px;
  }

  .hero__item-car{
    top: 0;
    left: 20px;
  }

  .hero__item-house{
    top: 0;
    left: 190px;
  }

  .hero__link{
    padding: 12px 16px;
  }

  .hero__btn{
    padding: 8px 16px;
    width: 100%;
  }

  .hero__btn-apply{
    margin-right: 10px;
  }
}