.idpc__container{
  display: flex;
}

.idpc__wrapper{
  display: flex;
  flex-wrap: wrap;
}

.idpc__wrapper-text{
  margin-top: 140px;
  margin-left: 110px;
}

.idpc__title{
  font-family: var(--title-font);
  @include fonts(normal, 700, 32px, 1.18);
  color: var(--title-txt-cl);
  padding-bottom: 10px;
}

.idpc__text{
  font-family: var(--subtitle-font);
  @include fonts(normal, 400, 16px, 1.81);
  color: var(--subtitle--txt-cl);
  max-width: 460px;
}

.idpc__link{
  display: flex;
  align-items: center;

  font-family: var(--subtitle--txt-cl);
  @include fonts(normal, 400, 20, 1.35);
  color: var(--btn-txt-cl);

  margin-top: 44px;
}

.idpc__link:hover,
.idpc__link:focus{
  transform: translate(2px, 0);
  transition: var(--transition-fast);
}

@media only screen and (max-width: 834px){
  .idpc__container{
    flex-direction: column;
  }

  .idpc__wrapper{
    flex-direction: column;
    margin: 0 auto;
  }

  .idpc__wrapper-text{
    margin-top: 16px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 375px){
  .idpc__wrapper-text{
    margin-top: 25px;
    margin-left: 20px;
  }

}

//.link__text:hover::after, {
//  content: '';
//  height: 1px;
//  width: 5px;
//  background-color: #ED017F;
//}