.newsletter{
  background-color: var(--bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.newsletter__text{
  margin-bottom: 34px;
}

.newsletter__form{
  display: flex;
  justify-content: center;
}

.newsletter__input{
  width: 343px;
  margin-right: 10px;

  color: var(--form-txt-cl);
  background-color: var(--form-bg-color);

  border: 1px solid var(--form-txt-cl);
  border-radius: 4px;

  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
}

.newsletter__input:hover,
.newsletter__input:focus{
  outline: none;
  border: 1px solid var(--btn-txt-cl);
  transition: var(--transition-fast);
}

.newsletter__btn{
  font-family: var(--btn-font);
  @include fonts(normal, 600, 12px, 1.66);
  color: var(--form-bg-color);
  letter-spacing: 2px;

  background-color: var(--btn-txt-cl);
  border: none;
  border-radius: 4px;
}

.newsletter__btn:hover,
.newsletter__btn:focus{
  color: var(--btn-txt-cl);
  background-color: #ffffff;
  border: 1px solid var(--btn-txt-cl);
  //opacity: .8;
  transition: var(--transition-fast);
}

@media only screen and (max-width: 834px) {
  .newsletter{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media only screen and (max-width: 375px) {
  .newsletter{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .newsletter__input{
    width: 192px;
  }
}