.services{
  background-color: var(--bg-color);
  padding-top: 130px;
  padding-bottom: 130px;
}

.services__wrapper{
  margin-top: 64px;
}

.services__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 254px));
  column-gap: 50px;
  justify-content: center;
}

.services__img{
  width: 100%;
}

.services__img:hover,
.services__img:focus{
  transform: scale(1.1, 1.1);
  transition: var(--transition-fast);
}

.services__link{
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.services__text{
  max-width: 195px;
  font-family: var(--btn-font);
  @include fonts(normal, 600, 21px, 1.66);
  color: #363940;
  padding-right: 22px;
  text-transform: uppercase;
}

.services__text:hover,
.services__text:focus{
  opacity: .8;
  transition: var(--transition-fast);
}

.services__svg{
  background-color: #FCE0EF;
  border-radius: 50%;
}

.services__svg:hover,
.services__svg:focus{
  transform: translate(2px, 0);
  transition: var(--transition-fast);
}


@media only screen and (max-width: 834px){
  .services{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .services__list{
    column-gap: 40px;
  }

  .services__wrapper{
    margin-top: 54px;
  }

  .services__main__text{
    width: 670px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 375px) {
  .services{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .services__main__text {
    width: 335px;
  }

  .services__wrapper {
    margin-top: 25px;
  }

  .services__item{
    margin-bottom: 6px;
  }

  .services__link {
    margin-top: 14px;
  }
}