h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body{
  position: relative;
}

img {
  display: block;
  height: auto;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.title{
  font-family: var(--title-font);
  @include fonts(normal, 700, 36px, 1.19);
  color: var(--title-txt-cl);
  margin-bottom: 20px;
  text-align: center;
}

.subtitle{
  font-family: var(--subtitle-font);
  @include fonts(normal, 400, 16px, 1.37);
  color: var(--secondary-txt-cl);
  text-align: center;
}

.btn{
  min-width: 157px;
  max-width: 188px;
  padding: 13px 22px;

  font-family: var(--title-font);
  @include fonts(normal, 600, 12px, 1.66);
  text-transform: uppercase;
  cursor: pointer;

  transition: color var(--transition-fast), background-color var(--transition-fast);
}

.square{
  position: absolute;
  width: 50%;
  height: 710px;
  background-color: var(--hero-bg-color);
  left: 50%;
}